<Accordion as |ctx|>
  {{log ctx.open}}
  
  {{#each ctx.open as |i|}}
    i: {{i}}<br>
  {{/each}}

  <div>
    {{#each @items key='title' as |item index|}}
      {{stringify ctx.open}}
      {{stringify index}}
      <Item>
        <Button 
          style='text-align: left; min-width: 80px;'
          class={{if (contains index ctx.open) 'is-open'}}
          @onClick={{action ctx.onClick index}}
        >
          {{item.title}}
          <span>{{if (contains index ctx.open) '👇' '👉'}}</span>
        </Button>

        <Contents 
          style='overflow-y: hidden; text-align: justify'
          class={{if (contains index ctx.open) 'open'}}>
          {{item.contents}}
        </Contents>

      </Item>

    {{/each}}
  </div>
</Accordion>