<Tabs as |openIndexes onItemClick|>
  <div style='display: flex;'>
    {{#each @items key='title' as |item index|}}

      <Button 
        @isActive={{contains index openIndexes}}
        @onClick={{action onItemClick index}}
      >
        {{item.title}}
      </Button>

    {{/each}}
  </div>

  <div style='position: relative; min-height: 120px'>

    {{#each @items key='title' as |item index|}}
      <TabItem @isOpen={{contains index openIndexes}}>
        {{item.contents}}
      </TabItem>
    {{/each}}

  </div>
</Tabs>