<Tabs as |openIndexes onItemClick|>
   <div style='position: relative; min-height: 120px'>
    {{#each @items key='title' as |item index|}}

      <TabItem 
        style='position: absolute; overflow-y: hidden;'
        @isOpen={{contains index openIndexes}}>
        {{item.contents}}
      </TabItem>

    {{/each}}
  </div>

  <div style='display: flex;'>
    {{#each @items key='title' as |item index|}}

      <Button 
        @isActive={{contains index openIndexes}}
        @onClick={{action onItemClick index}}
      >
        {{item.title}}
      </Button>

    {{/each}}
  </div>
</Tabs>