<ThemeSwitcher />

<div style='
  display: grid;
  grid-auto-flow: row;
  grid-gap: 350px;
  width: 500px;
  padding: 20px;
  font-size: 24px;
'>
  <div>
    <strong>Standard</strong>
    <Standard @items={{model.items}} />
  </div>
  
  <div>
    <strong>Above</strong>
    <Above @items={{model.items}} />
  </div>
  
  <div>
    <strong>Left</strong>
    <Left @items={{model.items}} />
  </div>

  <div>
    <strong>Right</strong>
    <Right @items={{model.items}} />
  </div>

  <div>
    <strong>Single</strong>
    <Single @items={{model.items}} />
  </div>

  <div>
    <strong>Prevent Close</strong>
    <PreventClose @items={{model.items}} />
  </div>

  <div>
    <strong>Single Prevent Close</strong>
    <SinglePreventClose @items={{model.items}} />
  </div>

  <div>
    <strong>Tabs</strong>
    <TabsStandard @items={{model.items}} />
  </div>
</div>